# Dependency directories
node_modules/
jspm_packages/

#Local node_modules tree
package-lock.json

# Public folder
public

# macOS shit file
.DS_Store

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
